@charset 'UTF-8';

@keyframes lidown {
    from {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
        bottom: 320px;
        left: 0;
    }
    5% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
        bottom: 0;
        left: 0;
    }
    7% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
        bottom: 0;
        left: 0;
    }
    100% {
        -webkit-transform: rotate(1620deg);
        transform: rotate(1620deg);
        bottom: 0;
        left: 100%;
    }
}
@keyframes liup {
    from {
        -webkit-transform: rotate(1620deg);
        transform: rotate(1620deg);
        bottom: 0;
        left: 100%;
    }
    97% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
        bottom: 0;
        left: 0;
    }
    95% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
        bottom: 0;
        left: 0;
    }
    100% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
        bottom: 320px;
        left: 0;
    }
}